* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
// Responsive
@import "./basicSCSS/responsive.scss";

///carousel-start
// @import "./basicSCSS/home.scss";

///carousel-end

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #e8e3e3;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #0000004d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
